.register-login {
  align-items: flex-start;
  display: flex;
  justify-content: space-around;
  margin: 2rem 1rem;
}
.register-login h2 {
  margin-bottom: 0.5rem;
}

.register-login label {
  margin: 0.5rem 0;
}

.label-caption {
  font-size: 0.75rem;
  font-style: italic;
}