nav {
  align-items: center;
  background-color: goldenrod;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.nav-links {
  color: inherit;
}

.nav-links > a {
  cursor: pointer;
  padding: 1rem;
}

.nav-links > a:hover {
  text-decoration: underline;
}